.ToDoForm{
  
}
.Input{
    outline: none;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}
.Input:focus{
 
    border: 1px solid blueviolet;
    
}
.Button{
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}