.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin-top: 10px;
}

.Text {
  padding: 10px;
}
.Completed {
  text-decoration: line-through;
  color: #ccc;
}
.Control {
  display: flex;

}
.Edit {
  padding: 10px 5px;
  width: 80px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid yellowgreen;
  color: yellowgreen;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}
.Delete {
  padding: 10px 5px;
  width: 80px;
  border-radius: 5px;
  border:2px solid rgb(236, 68, 68);
  color: rgb(236, 68, 68);
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}
