.Header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Count{
    text-align: center;
    background-color: #6d28d9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px 5px 10px 5px;
    color: #fff;
   margin-right: 5px;
}
.Title{
color: rgb(133, 133, 133);
}